$m: "mod_mainnav";

$mainnavWidth:	450px !default;

.#{$m} {
	max-width: 100px;

	@include mq($from: small) {
		max-width: $mainnavWidth;
	}


	&__items {
		@include resetList();
		@include clearfix;
	}

	&__item {
		float: left;
		margin-bottom: 4px;
		width: 100%;
		@include mq($from: small) {
			width: 33%;
			&-link {
				text-align: right;
			}
		}

		&-link {
			@include linkStyle();
			font-size: $sizeFontBase;
		}

		&.active {
			.#{$m}__item-link {
				@include styleFontBaseBold();
			}
		}

		&--spacer {
			@include mq($to: small) {
				display: none;
			}
			.#{$m}__item-link {
				display: none;
			}
		}
	}
}
