$m: "mod_mainnav";

$mainnavWidth:				450px !default;

.#{$m} {
	width: $mainnavWidth;

	&__items {
		@include resetList();
		@include clearfix;
	}
	&__item {
		float: left;
		width: 33%;
		min-height: 2.2 * $sizeFontBasePlus;

		&-link {
			@include linkStyle();
			font-size: $sizeFontBasePlus;
			line-height: 2.2;
		}

		&--spacer {
			.#{$m}__item-link {
				display: none;
			}
		}
	}
}
