$m: "mod_header";

.#{$m} {
	position: relative;
	margin-top: 0;
	margin-bottom: 8rem;
	@include mq($from: "small") {
		margin-top: 1rem;
	}
	@include mq($from: "medium") {
		margin-top: 8rem;
		margin-bottom: 9rem;
	}

	&__mainnav {
		position: absolute;
		top: $sizeGutter / 2;
		right: $sizeGutter / 2;
	}


	&__logo {
		padding-top: $sizeGutter / 2;
		padding-left: $sizeGutter / 2;
	}
}
