$m: "mod_event";

$eventInfoMaxWidth:				450px !default;

.#{$m} {
	max-width: $eventInfoMaxWidth;
	margin-left: auto;
	margin-right: auto;
	@include mq($from: 'large') {
		width: 100%;
		max-width: none;
	}

	&__content {
		@include mq($from: 'large') {
			@include gridContainer();
		}
	}

	&__figure {
		@include mq($from: 'large') {
			@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
		}
		@include mq($from: 'huge') {
			@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
		}
	}

	&__image {
		width: 100%;
	}

	&__info {
		@include mq($from: 'large') {
			@include gridColumn($columns: 4, $total: 12, $left: 0.5, $right: 0.5, $verticalAlign: middle);
		}
		@include mq($from: 'huge') {
			@include gridColumn($columns: 4, $total: 12, $left: 0.5, $right: 0.5, $verticalAlign: middle);
		}

		&-content {
			max-width: $eventInfoMaxWidth;
		}
	}

	&__title {
		@include fontH3();
		margin-top: 1rem;
		margin-bottom: 0.75rem;
		@include mq($from: 'large') {
			@include fontH2();
			margin-top: 0;
		}
	}

	&__subinfo {
		color: $colorGray;

		&-separator {
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
	}

	&__guests {
		display: inline-block;
		@include resetList();
	}
	&__guest {
		display: inline-block;

		&:not(:last-child) {
			&:after {
				content: ',';
			}
		}

		&-name {

		}

		&-link {
			@include linkStyle($colorGray, $colorGray, $colorGray, $colorGray);
		}
	}

	&__description {
		margin-top: 0.75rem;
		margin-bottom: 2rem;
	}

	&--switch {
		.#{$m} {
			&__content {
				@include mq($from: 'medium') {
					direction: rtl;
					& > * {
						direction: ltr;
					}
					text-align: left;
				}
			}
		}
	}

	&--current {
		max-width: none;
		margin-left: auto;
		margin-right: auto;

		@include mq($from: 'medium') {
			html.cssvwunit & {
				@include fullViewportWidth();
			}
		}

		.#{$m} {
			&__title {
				@include mq($from: 'huge') {
					@include fontH1();
				}
			}
			&__content {
				@include mq($from: 'medium') {

					@include gridContainer();

					html.cssvwunit & {
						width: 100vw;
					}
				}
			}
			&__figure {
				@include mq($from: 'medium') {
					@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
					padding-left: 0; // DEV: fixes space left of the image
				}
				@include mq($from: 'large') {
					@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
					padding-left: 0; // DEV: fixes space left of the image
				}
				@include mq($from: 'huge') {
					@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
					padding-left: 0; // DEV: fixes space left of the image
				}
			}
			&__info {
				@include mq($from: 'medium') {
					@include gridColumn($columns: 5, $total: 12, $verticalAlign: middle);
					margin-left: auto;
				}
				@include mq($from: 'large') {
					@include gridColumn($columns: 4, $total: 12, $left: 0.5, $right: 0.5, $verticalAlign: middle);
				}
				@include mq($from: 'huge') {
					@include gridColumn($columns: 4, $total: 12, $left: 0.75, $right: 0.25, $verticalAlign: middle);
				}
			}
		}
	}
}
