$m: "mod_event";

$eventInfoMaxWidth:				450px !default;

.#{$m} {

	@include mq($from: 'medium') {
		width: 100%;
	}

	&__content {
		@include mq($from: 'medium') {
			@include gridContainer();
		}
	}

	&__figure {
		@include mq($from: 'medium') {
			@include gridColumn($columns: 6, $total: 12, $verticalAlign: middle);
		}
		@include mq($from: 'large') {
			@include gridColumn($columns: 6, $total: 12, $verticalAlign: middle);
		}
		@include mq($from: 'huge') {
			@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
		}
	}

	&__image {
		width: 100%;
	}

	&__info {
		@include mq($from: 'medium') {
			@include gridColumn($columns: 6, $total: 12, $verticalAlign: middle);
		}
		@include mq($from: 'large') {
			@include gridColumn($columns: 5, $total: 12, $left: 1, $verticalAlign: middle);
		}
		@include mq($from: 'huge') {
			@include gridColumn($columns: 4, $total: 12, $left: 1, $verticalAlign: middle);
		}

		&-content {
			max-width: $eventInfoMaxWidth;
		}
	}

	&__title {
		@include fontH2();
		margin-top: 0;
		margin-bottom: 0.75rem;
	}

	&__subinfo {
		color: $colorGray;

		&-separator {
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
	}

	&__guests {
		display: inline-block;
		@include resetList();
	}
	&__guest {
		display: inline-block;

		&:not(:last-child) {
			&:after {
				content: ',';
			}
		}

		&-name {

		}

		&-link {
			@include linkStyle($colorGray, $colorGray, $colorGray, $colorGray);
		}
	}

	&__description {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	&--switch {
		.#{$m} {
			&__content {
				@include mq($from: 'medium') {
					direction: rtl;
					text-align: left;
				}
			}
		}
	}

	&--current {
		@include mq($from: 'medium') {
			html.cssvwunit & {
				position: relative;
				width: 100vw;
				left: -50vw;
				margin-left: 50%;
			}
		}

		.#{$m} {
			&__title {
				@include mq($from: 'large') {
					@include fontH1();
				}
			}
			&__content {
				@include mq($from: 'medium') {
					html.cssvwunit & {
						width: 100vw;
					}
				}
			}
			&__figure {
				@include mq($from: 'medium') {
					@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
					padding-left: 0; // DEV: fixes space left of the image
				}
				@include mq($from: 'large') {
					@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
					padding-left: 0; // DEV: fixes space left of the image
				}
				@include mq($from: 'huge') {
					@include gridColumn($columns: 7, $total: 12, $verticalAlign: middle);
					padding-left: 0; // DEV: fixes space left of the image
				}
			}
			&__info {
				@include mq($from: 'medium') {
					@include gridColumn($columns: 5, $total: 12, $verticalAlign: middle);
					margin-left: auto;
				}
				@include mq($from: 'large') {
					@include gridColumn($columns: 4, $total: 12, $verticalAlign: middle);
					margin-left: 5%;
				}
				@include mq($from: 'huge') {
					@include gridColumn($columns: 4, $total: 12, $left: 1, $verticalAlign: middle);
					margin-left: 5%;
				}
			}
		}
	}
}
