$m: "mod_ctalink";

.#{$m} {
	text-align: center;

	&__anchor {
		display: inline-block;
		@include linkStyle();
		@include fontBase();
		@include styleFontBaseBold();
		padding-bottom: 0px;
		border-bottom: 2px solid $colorGrayLight;
	}

	&--event {
		text-align: left;

		.#{$m} {
			&__anchor {
				// color: $colorGray;
				border-bottom: 2px solid $colorGrayLight;
			}
		}
	}

	&--eventdetail {
		text-align: left;

		.#{$m} {
			&__anchor {
				border-bottom: 2px solid $colorGrayLight;
			}
		}
	}
}
