$m: "mod_ctalink";

@mixin cta-button {
	display: inline-block;
	@include fontBaseTiny();
	@include styleFontBaseBold();
    line-height: $sizeLineHeightBase;
	padding: 9px 20px 7px;
	border: 2px solid $colorBlackPure;
	text-transform: uppercase;
	letter-spacing: 2px;

	transition: background 0.4s ease-in-out;
	&:hover, &:focus {
		background: rgba($colorGrayLight, 0.6);
	}
}

.#{$m} {
	text-align: center;

	&__anchor {
		@include cta-button;
	}

	&--event,
	&--eventdetail {
		text-align: left;
	}

	&--external {
		.#{$m}__anchor {
			&::after {
				margin-left: 5px;
				content: '→';
			}
			padding-right: 18px; // visually adjust spacing
		}
	}
}
