<div class="mod_ctalink{% if modifiers is defined %}{% for modifier in modifiers %} mod_ctalink--{{ modifier }}{% endfor %}{% endif %}" data-init="ctalink">
	<a href="{{ link }}" class="mod_ctalink__anchor"{% if modifiers %}{% if 'external' in modifiers %} target="_blank"{% endif %}{% endif %} itemprop="url">{{ text }}</a>
</div>
