/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;

	/* VERIFY / DEV: fixes 100vw horizontal scrollbar issue */
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;

	background: $colorBg;
	color: $colorText;
	padding: $sizeGutter / 2;
	@include mq($from: "small") {
		padding: $sizeGutter;
	}
}

.site-wrapper {
	max-width: $sizeContentMaxWidth;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

a {
	@include linkStyle();
}
