/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: $colorBg;
	color: $colorText;
	font-family: $fontFamilyBase;
	font-size: 100%;
	line-height: $sizeLineHeightBase;
	padding: $sizeGutter / 2;
	position: relative;
	@include mq($from: "small") {
		padding: $sizeGutter;
	}

	/* VERIFY / DEV: fixes 100vw horizontal scrollbar issue */
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

.site-wrapper {
	max-width: $sizeContentMaxWidth;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

a {
	@include linkStyle();
}
