/* DEV */
h1, h2, h3, h4, h5, h6 {
	font-family: $fontFamilyBase;
	font-weight: bold;
}

body {
	text-rendering: optimizeLegibility;
    html.touchevents & {
		text-rendering: optimizeSpeed;
	}

	font-family: $fontFamilyBase;
	font-size: 100%;
	line-height: $sizeLineHeightBase;

	/* setup OpenType features */
	font-feature-settings: "dlig" 1, /*"frac" 1,*/ "kern" 1, "pnum" 1, "onum" 1;
	text-transform: none;

	/* vendor prefixes */
	-webkit-font-feature-settings: "dlig" 1, /*"frac" 1,*/ "kern" 1, "pnum" 1, "onum" 1;
	-moz-font-feature-settings: "dlig" 1, /*"frac" 1,*/ "kern" 1, "pnum" 1, "onum" 1;
	-moz-font-feature-settings: "dlig=1, frac=1, kern=1, pnum=1, onum=1";
	-ms-font-feature-settings: "dlig" 1, /*"frac" 1,*/ "kern" 1, "pnum" 1, "onum" 1;
	-o-font-feature-settings: "dlig" 1, /*"frac" 1,*/ "kern" 1, "pnum" 1, "onum" 1;

}
pre {
	text-rendering: auto;
}

@mixin styleFontBase() {
	font-family: $fontFamilyBase;
	font-weight: normal;
}
@mixin styleFontBaseBold() {
	font-family: $fontFamilyBase;
	font-weight: bold;
}
@mixin styleFontTitle() {
	font-family: $fontFamilyTitle;
	font-weight: bold;
}
@mixin styleFontTitleBold() {
	font-family: $fontFamilyTitle;
	font-weight: bold;
}

@mixin fontH1Plus($color: true) {
	@include styleFontTitleBold();
	font-size: $sizeFontHuge;
	line-height: $sizeLineHeightTitle;
	@include _addColor($color);
}
@mixin fontH1($color: true) {
	@include styleFontTitleBold();
	font-size: $sizeFontH1;
	line-height: $sizeLineHeightTitle;
	@include _addColor($color);
}
@mixin fontH2($color: true) {
	@include styleFontTitleBold();
	font-size: $sizeFontH2;
	line-height: $sizeLineHeightTitle;
	@include _addColor($color);
}
@mixin fontBaseTiny($color: true) {
	@include styleFontBase;
	font-size: $sizeFontBaseTiny;
	@include _addColor($color);
}
@mixin fontBaseSmall($color: true) {
	@include styleFontBase;
	font-size: $sizeFontBaseSmall;
	@include _addColor($color);
}
@mixin fontBase($color: true) {
	@include styleFontBase;
	font-size: $sizeFontBase;
	@include _addColor($color);
}
@mixin fontBasePlus($color: true) {
	@include styleFontBase;
	font-size: $sizeFontBasePlus;
	@include _addColor($color);
}


@mixin _addColor($color: false) {
	@if ($color == true) {
	color: $colorText;
  } @else if ($color != false) {
	color: $color;
  }
}
