{% extends "layouts/layout.twig" %}

{% block content %}
	{% embed "modules/section/section.twig" with { title: globals.project.title, content: globals.project.lead, modifiers: ['home-lead'] } %}
		{% block title %}
			<h1 class="mod_section__title">{{ title }}</h1>
		{% endblock %}
	{% endembed %}
	{% if post_current %}
		{% embed "modules/section/section.twig" with { title: 'Aktuell', post: post_current } %}
			{% block content %}
				{% include "modules/event/event.twig" with { event: post,  modifiers: ['current'] } %}
			{% endblock %}
		{% endembed %}
	{% endif %}
	{% if posts_archive %}
		{% embed "modules/section/section.twig" with { title: 'Archiv', posts: posts_archive } %}
			{% block content %}
				{% include "modules/eventlist/eventlist.twig" with { events: posts } %}
			{% endblock %}
		{% endembed %}
	{% endif %}
{% endblock %}
