{% extends "layouts/layout.twig" %}

{% block content %}
	{% embed "modules/section/section.twig" with { title: globals.project.title, content: globals.project.lead, modifiers: ['home-lead'] } %}
		{% block title %}
			<h1 class="mod_section__title">{{ title }}</h1>
		{% endblock %}
	{% endembed %}
	{% embed "modules/section/section.twig" with { title: 'Aktuell', post: post_current } %}
		{% block content %}
			{% include "modules/event/event.twig" with post %}
		{% endblock %}
	{% endembed %}
	{% embed "modules/section/section.twig" with { title: 'Archiv', posts: posts_archive } %}
		{% block content %}
			{# TODO: Wrap this loop in a module #}
			{% for post in posts %}
				{% include "modules/event/event.twig" with post %}
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
