<div class="mod_logo" data-init="logo">
	{# TODO: replace this with the kerned logo svg #}
	<a href="{{ globals.home_url }}" class="mod_logo__link">
		For Interaction<br>
		By Interaction
	</a>
</div>
