$m: "mod_logo";

$logoFontSizeSmall:		$sizeFontH3 !default;
$logoFontSize:			$sizeFontH2 !default;

.#{$m} {
	@include fontH2();
	font-size: $logoFontSizeSmall;
	line-height: 1.3;
	@include mq($from: "small") {
		font-size: $logoFontSize;
	}

	&__link {
		@include linkStyle();
	}
}
