$m: "mod_logo";

$logoFontSize: 			$sizeFontH2 !default;

.#{$m} {
	@include fontH2();
	font-size: $logoFontSize;
	line-height: 1.3;
	padding-left: $sizeGutter / 2;
	@include mq($from: "large") {
		padding-left: 0;
	}

	&__link {
		@include linkStyle();
	}
}
