<div class="mod_logo" data-init="logo">
	{# TODO: replace this with the kerned logo svg #}
	<a href="{{ globals.home_url }}" class="mod_logo__link">
		<span class="mod_logo__fragment mod_logo__fragment--for">for </span>
		<span class="mod_logo__fragment mod_logo__fragment--interaction">interaction </span>
		<span class="mod_logo__fragment mod_logo__fragment--dash">– </span>
		<span class="mod_logo__fragment mod_logo__fragment--by">by </span>
		<span class="mod_logo__fragment mod_logo__fragment--interaction">interaction </span>
	</a>
</div>
