@import "../.tmp/colors";

/**
 * Default variables
 */

$fontFamilyBase: 'FFMarkWeb', sans-serif;
$fontFamilyTitle: $fontFamilyBase;

$sizeFontBaseTiny:					12px;
$sizeFontBaseSmall:					14px;
$sizeFontBase:						16px;
$sizeFontBasePlus:					20px;
$sizeFontH2:						36px;
$sizeFontH1:						48px;
$sizeFontHuge:						72px;


$sizeLineHeightBase:				1.5;
$sizeLineHeightTitle:				1.2;


$sizeGutter:						30px;

$sizeContentMaxWidth: 				1200px;

$sizeBreakpointTiny: 				320px;
$sizeBreakpointSmall: 				480px;
$sizeBreakpointMedium: 				768px;
$sizeBreakpointLarge: 				960px;
$sizeBreakpointHuge: 				1280px;


/**
 * Custom colors
 */

$colorText: $colorBlackPure;
$colorBg: $colorWhite;


/**
 * z-indices / z-index
 */

$zIndices: (
	line: -1,
	imgLineActive: -2
);
