@import "../.tmp/colors";

/**
 * Default variables
 */

$fontFamilyBase: 'Karla', 'Apercu', 'Benton Sans', sans-serif;
$fontFamilyTitle: 'Futwora', 'Sofia Pro', 'Futura', sans-serif;

$sizeFontBase:						16px;
$sizeFontMedium:					20px;
$sizeFontLarge:						24px;
$sizeFontHuge:						48px;

$sizeLineHeightBase:				1.5;

$sizeGutter:						24px;

$sizeContentMaxWidth: 				1100px;

$sizeBreakpointTiny: 				320px;
$sizeBreakpointSmall: 				480px;
$sizeBreakpointMedium: 				768px;
$sizeBreakpointMediumPlus: 			960px;
$sizeBreakpointLarge: 				1280px;


/**
 * Custom colors
 */

$colorText: $colorBlackPure;
$colorBg: $colorWhite;
