@import "../.tmp/colors";

/**
 * Default variables
 */

$fontFamilyBase: 'Karla', 'Apercu', 'Benton Sans', sans-serif;
$fontFamilyTitle: 'Futwora', 'Sofia Pro', 'Futura', sans-serif;

$sizeFontBase:						16px;
$sizeFontMedium:					24px;
$sizeFontLarge:						36px;
$sizeFontHuge:						48px;

$sizeFontLargePlus:					28px;
$sizeFontBasePlus:					18px;
$sizeFontBasePlusPlus:				20px;

$sizeLineHeightBase:				1.5;
$sizeLineHeightTitle:				1.2;


$sizeGutter:						30px;

$sizeContentMaxWidth: 				1200px;

$sizeBreakpointTiny: 				320px;
$sizeBreakpointSmall: 				480px;
$sizeBreakpointMedium: 				768px;
$sizeBreakpointLarge: 				960px;
$sizeBreakpointHuge: 				1280px;


/**
 * Custom colors
 */

$colorText: $colorBlackPure;
$colorBg: $colorWhite;
