$m: "mod_section";

.#{$m} {
	margin-bottom: 12rem;


	&__title {
		@include fontBase($color: $colorGray);
		text-align: center;
		margin-bottom: 5rem;
	}

	&--home-lead {
		.#{$m} {
			&__title {
				@include fontH1Plus();
				margin-bottom: 3rem;
			}
		}
	}
}
