$m: "mod_section";

$sectionContentMaxWidth:		450px !default;

.#{$m} {
	margin-bottom: 12rem;

	&__title {
		@include fontBase($color: $colorBlackPure);
		@include styleFontBaseBold();
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 5rem;
	}

	&--content {
		.#{$m} {
			&__content {
				max-width: $sectionContentMaxWidth;
				margin: 0 auto;
			}
		}
	}

	&--page {
		.#{$m} {
			&__title {
				@include fontH1();
				@include styleFontTitle();
				text-align: center;
				text-transform: none;
				margin-bottom: 5rem;
			}
		}
	}

	&--archive {
		.mod_eventlist + .mod_ctalink {
			margin-top: 12rem;
		}
	}

	&--home-lead {
		.#{$m} {
			&__title {
				@include fontH1Plus();
				text-transform: none;
				margin-bottom: 3rem;
			}
			&__content {
				max-width: 640px;
				text-align: center;
				margin-right: auto;
				margin-left: auto;
			}
		}
		.mod_panorama {
			margin-top: 12rem;
		}
	}
}
