<footer class="mod_footer" data-init="footer">
	<div class="mod_footer__content">
		<a href="{{ globals.footer_url ? globals.footer_url : globals.home_url }}" class="mod_footer__homelink">{{ globals.project.title }}</a>
	</div>
</footer>
