<figure class="mod_panorama" data-init="panorama">
	<div class="mod_panorama__content">
		<img src="{{ image|getImageSize('panorama') }}" alt="{{ alt }}" class="mod_panorama__image">
	</div>
</figure>
