<div class="mod_eventlist" data-init="eventlist">
	{% for event in events %}
		{% set event_modifiers = (loop.index % 2 == 0) ? ['switch'] : [] %}
		{% include "modules/event/event.twig" with { event: event, modifiers: event_modifiers } %}
	{% endfor %}
</div>
